/* .navigation-container .navigation-image {
  width: 20%;
  height: 65px;
  object-fit: contain;
  margin-left: 50px;
}

.navigation-container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  margin-top: -10px;
  border: none;
  margin-left: 5px;
  height: 60px;
  z-index: 1;
  background: white;
  padding: 0px 50px;
}

.navigation-container {
  border: none;
  box-shadow: 0 0.2px 20px 2px hsl(0, 0%, 95%);

  vertical-align: middle;
}

.ml {
  margin-left: 20rem;
  display: flex;
  align-items: center;
}

.mr {
  display: flex;
  align-items: center;
}

.mr:hover {
  background: indigo;
}
 */
